/* General Styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #f0f2f5;
}

/* Container and Form Styling */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333333;
}

/* Input Group */
.login-input-group {
  margin-bottom: 15px;
  text-align: left;
  display: inline;
}

.login-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
  margin-top: 15px;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Button */
.login-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #0056b3;
}

.logo_img {
  width: 100px;
  margin-bottom: 20px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .login-box {
    padding: 15px;
    width: 90%;
  }

  h2 {
    font-size: 24px;
  }

  .input-group input {
    font-size: 14px;
  }

  .login-btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  .input-group input {
    font-size: 12px;
  }

  .login-btn {
    font-size: 12px;
    padding: 8px 16px;
  }
}
