/* Card Styling */
.order-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Header */
.order-header {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

/* Section Heading */
.section-heading {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 20px;
  color: #333;
}

/* Table Styling */
/* .order-table {
  margin-top: 20px;
} */

.card-title {
  font-size: 18px;
}

.order-table th,
.order-table td {
  text-align: left;
}

.order-table th {
  background-color: #f5f5f5;
  font-weight: bold !important;
  font-size: 16px !important;
}

.order-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.order-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.order-table img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.summary-section span {
  font-size: 20px;
  font-weight: bold;
}


/* Responsive Layout */
@media (max-width: 768px) {
  .order-info-col {
    margin-bottom: 20px;
  }
  .card-title {
    font-size: 13px;
  }
}
