/* TransactionTable.css */
.table-container {
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  .delete-btn {
    cursor: pointer;
    color: #e10d05;
  }
  
  .delete-btn:hover {
    opacity: 0.8;
  }
  
  .transaction-table th,
  .transaction-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .transaction-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .highlight {
    background-color: #fff3cd;
  }
  
  .debit {
    color: black;
  }
  
  .credit {
    color: black;
  }
  
  tr:hover {
    background-color: #f8f9fa;
  }